<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
      <a href="/">Index</a>
      <a href="/author">Author</a>
      <p>Welcome to <%= title %></p>
      <p>The web site where you can create your own games!</p>
  </body>
  
</html>
