<!DOCTYPE html>
<html>

  <head>
    <title>Quiz</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <header>
      <h2>The Quiz site</h2>
    </header>
    
    <nav>
      <a href="/">Index</a>
      <a href="/author">Author</a>
    </nav>

    <section>
      <div>
        <%- body %>    
      </div>
    </section>

    <footer>
      <a href="">What is a Quiz?</a>
    </footer>
  </body>
  
</html>
